<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good job, <%= @user.email %>!</h1>
    <p>You've taken your first step and displayed your game to the world. 
    Flrish wishes you the best of luck with selling your game!</p>
  </body>
</html>