<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase, <%= @user.email %>!</h1>
    <p>Please find your game access key bellow, and have fun!</p>
  </body>
</html>