<div class="all_views">
  <div class='welcome'><h1>WELCOME TO</h1></div>
  <div class='welcome-message'>
    <span>A marketplace for indie games.</span>
  </div>

  <div class='browse-button'>
    <p><%= link_to('Browse Games', games_path) %></p>
  </div>
  
</div>