<div class="container">

  <div class='welcome'><h1>WELCOME TO</h1></div>

  <div class="row">
    <div class="col-md-12 home-logo">
      <img src='https://github.com/rhyswoodberry/flrish/blob/master/read_me_images/flrish-logo.png?raw=true' alt='flourish logo'>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 welcome-message">
      <h2> About Us </h2>

      <p>Flrish is a marketplace for people who are passionate 
      about making games, and playing games. It is a place where 
      up and coming developers can get thier foot in the door and 
      sell their games to a dedicated audience. Currently, there 
      are several features in the works to make your experience here
      on flrish, even better! Stay tuned, and game on.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button"  class="btn btn-secondary btn-lg btn-block browse-button">
        <%= link_to('Browse Games', games_path) %>
      </button>
    </div>
  </div>
  
  <br><br>

</div>