<div class="all_views">

  <div class='welcome-message'>
    <p>A marketplace for indie games.</p>
  </div>

  <div class='browse-button'>
    <p><%= link_to('Browse Games', games_path) %></p>
  </div>
  
</div>