<div class="all_views">
  <br><br>
  <div class='welcome-message'>
    <p>A marketplace for indie games.</p>
  </div>
  <br><br><br>
  <div class='browse-button'>
    <p><%= link_to "BROWSE GAMES", '/games' %></p>
  </div>
</div>