/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #d11f66;

}

.nav-container > li {
  flex: 1;
  flex-basis: 50%;
}

body {
  margin: 0;
  background-color: #171616;
  font-family: 'Nunito Sans', sans-serif;
  color: #fdfdfd;
}

.all_views {
  padding: 2%;
}