/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR */

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  list-style: none;
  width: 100%;
  background-color: #d11f66;
  height: 5rem;
  padding: 3%;
  /*box-shadow: 0px -26px 69px 13px rgba(245,245,245,1);*/
}

.nav_container li {
  flex: 1;
}

.nav-container li:not(.logo) {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}

.nav-container a {
  text-decoration: none;
  color: #171616;
}

.nav-container a:hover {
  color: #fdfdfd;
}

.logo  {
  margin-left: 50%;
  font-family: 'Oleo Script', sans-serif;
  font-size: 350%;
}

.nav_out, .nav_up, .nav_in {
  margin-left: 3%;
}

/* NAV BAR @MEDIA */

@media screen and (max-width: 600px) {
  .nav_container {
    flex-wrap: wrap;
  }
  .nav_container > li {
    flex-basis: 50%;
    padding: 1%;
  }
}

@media screen and (max-width: 425px) {
  .nav_container > li {
    flex-basis: 100%;
    padding: 2%;
  }
}

/* WELCOME PAGE */

.welcome-container {

}

.welcome {
  
}

.home-logo img {
  height: 30%;
  width: 30%;
  
}

.welcome-message {
  
}

.browse-button {
  
}

/* WELCOME @MEDIA */



body {
  margin: 0;
  background-color: #171616;
  font-family: 'Nunito Sans', sans-serif;
  color: #fdfdfd;
}

.all_views {
  padding: 2%;
}