<!DOCTYPE html>
<html>
  <head>
     <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
  <footer>
    <%= render 'shared/footer'%>
  </footer>
</html>